@import "_functions"; // Импорт моих функций
@import "../../node_modules/system-font-css/system-font.scss"; //Не забудь посмотреть обновления к этому модулю. npm install --save system-font-css

// --------------------------------------ОБНУЛЕНИE И ОБЩИЕ ПАРАМЕТРЫ--------------------------------------

html,
body {
   width: 100%;
}
body {
   font-family: system-ui;
   background-size: cover;
}
*::selection {
   background-color: var(--color-primary);
   color: var(--color-bg-main);
}
img,
picture {
   width: 100%;
   max-width: 100%;
   height: inherit;
   object-fit: cover;
   // aspect-ratio: attr(width) / attr(height);
   // background-image: url(data:image/gif;base64,R0lGODlhCgAIAIABAN3d3f///yH5BAEAAAEALAAAAAAKAAgAAAINjAOnyJv2oJOrVXrzKQA7);
}

// ----------------------------------------------СТАНДАРТНЫЕ КЛАССЫ---------------------------------------------
// класс для объявления шрифты после его загрузки
.fonts-loaded body {
   font-family: $fontFamily;
}

// Класс для полифила focus
.js-focus-visible :focus:not(.focus-visible) {
   outline: none;
}
.focus-visible {
   @include focus;
}
// необходимо Модофицировать этот элемент только для тех, на кого может попасть фокус
* {
   outline-offset: 0;
   transition: outline-offset 0.2s linear;
}
// ОБОЛОЧКА
.wrapper {
   width: 100%;
   min-height: 100%;
   // overflow: hidden;
   display: flex;
   flex-direction: column;
   min-height: 100vh;
   // &._loaded {
   // }
   // @media (max-width: $md0+px) {
   //    padding: rem(20);
   // }
}

.wrpapper,
.container {
   overflow: visible;
}

.page {
   flex-grow: 1;
}
.header-main,
.page,
.footer {
   flex-shrink: 0;
}
// СЕТКА
.container {
   margin: 0 auto;
   @media (max-width: $md1+px) {
      padding: var(--space-md);
      min-width: $minWidth;
   }
   // Small devices (landscape phones, 576px and up)
   @media (min-width: $md1+px) {
      padding: 0 rem(32);
      max-width: 570px;
   }

   // Medium devices (tablets, 768px and up)
   @media (min-width: $md2+px) {
      max-width: 750px;
   }

   // Large devices (desktops, 992px and up)
   @media (min-width: $md3+px) {
      max-width: 970px;
   }

   // Extra large devices (large desktops, 1200px and up)
   @media (min-width: $md4+px) {
      max-width: 1170px;
   }
}

.hide {
   display: none;
   &__mobile {
      @media (max-width: $md0+px) {
         display: none;
      }
   }
   &__desctop {
      @media (min-width: $md1+px) {
         display: none;
      }
   }
}
/* clip element visibility, making it accessible to screen reader only */
.clipped {
   position: absolute !important;
   clip: rect(1px 1px 1px 1px);
   clip: rect(1px, 1px, 1px, 1px);
   padding: 0 !important;
   border: 0 !important;
   height: 1px !important;
   width: 1px !important;
   overflow: hidden;
}

.no-scroll {
   overflow: hidden;
}

// -----------------------------------------------ИКОНОЧНЫЙ ШРИФТ-----------------------------------------------

// ---------------------------------------------КЛАССЫ СТРАНИЦЫ-------------------------------------------
