// -----------------------------------------ПЕРЕМЕННЫЕ-----------------------------------------------

// Шрифт по умолчанию-------
$fontFamily: system-ui;

$minWidth: 320px; // минимальным размер экрана
$maxWidth: 1200; // максимальный размер экрана

//Ьочки в bootstrap sm-540px	md-720px	lg-960px	xl-1140px
// @media (min-width:320px) { /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */ }
// @media (min-width:480px) { /* smartphones, Android phones, landscape iPhone */ }
// @media (min-width:600px) { /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */ }
// @media (min-width:801px) { /* tablet, landscape iPad, lo-res laptops ands desktops */ }
// @media (min-width:1025px) { /* big landscape tablets, laptops, and desktops */ }
// @media (min-width:1281px) { /* hi-res laptops and desktops */ }

// Брейкпоинты
$md0: 520;
$md1: 521;
$md2: 720;
$md3: 960;
$md4: 1140;

// Цвета
:root {
   --color-primary: #0a8fc4;
   --color-active: #0a8fc4;

   --color-bg-main: #fff;
   --color-bg-gray: #f0f0f0;

   --color-white: #fff;
   --color-black: #000;

   --color-success: #88c559;
   --color-error: #e02447;
   --color-warning: #ffd138;
}

// Размеры отступов
:root {
   --space-unit: 1em;
}

:root {
   --space-xxxxs: calc(0.125 * var(--space-unit));
   --space-xxxs: calc(0.25 * var(--space-unit));
   --space-xxs: calc(0.375 * var(--space-unit));
   --space-xs: calc(0.5 * var(--space-unit));
   --space-sm: calc(0.75 * var(--space-unit));
   --space-md: calc(1.25 * var(--space-unit));
   --space-lg: calc(2 * var(--space-unit));
   --space-xl: calc(3.25 * var(--space-unit));
   --space-xxl: calc(5.25 * var(--space-unit));
   --space-xxxl: calc(8.5 * var(--space-unit));
   --space-xxxxl: calc(13.75 * var(--space-unit));
   --component-padding: var(--space-md);

   --size-navigation-small: 3.5rem;
   --size-navigation-large: 4.5rem;
}

@supports (--css: variables) {
   :root {
      @media (max-width: $md0+px) {
         --space-unit: 1.2em;
      }
   }
}

// ---------------------------------------------МИКСИНЫ--------------------------------------------
// Класс для поределения фокуса элементов :focus
@mixin focus {
   outline: rem(3) solid;
   outline-offset: rem(3);
   outline-style: auto;
   outline-color: var(--color-primary);
}

// ПОЛЬЗОВАТЕЛЬСКИЕ

// --------------------------------------------ФУНКЦИИ----------------------------------------------

// Чтобы получить отрицательный отступ надо использовать:    $em: em(15, 16); margin: 0px (-$em);
// width: calc(100% - #{rem(40)});
@function em($pixels, $font_size) {
   @return $pixels / $font_size + em;
}

@function rem($pixels) {
   @return $pixels / 16 + rem; //16 -  default font size
}
