// ---------------------Общие стили------------------------
@forward "_base";
@forward "__config";
@forward "_globals";
// --------------------------------------------------------

// ---------------------Компоненты только для хедера-------
// --------------------------------------------------------

// ---------------------Блоки только для хедера-------------
// --------------------------------------------------------

@forward "pages";