@use "config" as *;
@use "sass:map";

// --------------------------------------ОБНУЛЕНИE И ОБЩИЕ ПАРАМЕТРЫ--------------------------------------

// необходимо Модофицировать этот элемент только для тех, на кого может попасть фокус
* {
   outline-offset: 0;
   transition: outline-offset 0.2s linear;
}

html,
body {
   width: 100%;
}

body {
   // font-family: system-ui, system, sans-serif;
   font-family: var(--ff-main);
   background-size: cover;
}

// ____Класс для объявления шрифты после его загрузки_____
.fonts-loaded body:root {
    
      --ff-main: "Pangolin", serif;
   
}

*::selection { // Цвет выделения текста
   background-color: var(--clr-primary);
   color: var(--clr-bg-main);
}

img,
picture {
   width: 100%;
   max-width: 100%;
   height: inherit;
   object-fit: cover;
   // aspect-ratio: attr(width) / attr(height);
   // background-image: url(data:image/gif;base64,R0lGODlhCgAIAIABAN3d3f///yH5BAEAAAEALAAAAAAKAAgAAAINjAOnyJv2oJOrVXrzKQA7);
}

// ----------------------------------------------СТАНДАРТНЫЕ КЛАССЫ---------------------------------------------

// _____________Футер к низу_______________
.body-main {
   display: flex;
   flex-direction: column;
}
.page-main {
   flex-grow: 1;
}
.header-main,
.page-main,
.footer-main {
   flex-shrink: 0;
}

// ____________________Обычный контейнер для респонза_________
.container {
   margin: 0 auto;

   // Ограничиваем стили для мобильных
   @include media('<=phone') {
      padding: 0 var(--space-md);
      min-width: var(--minWidth);
   }

   @include media('>phone') {
      padding: 0 var(--space-lg);
      max-width: calc(var(--space-lg) * 2 + map.get($breakpoints, 'phone'));
   }

   @include media('>=tablet') {
      max-width: calc(var(--space-lg) * 2 + map.get($breakpoints, 'tablet'));
   }

   @include media('>=laptop') {
      max-width: calc(var(--space-lg) * 2 + map.get($breakpoints, 'laptop'));
   }

   @include media('>=desktop') {
      max-width: calc(var(--space-lg) * 2 + map.get($breakpoints, 'desktop'));
   }

}

// __________________Класс для скрытия от всех__________________________________
.hide {
   display: none;
   &__mobile {
      @include media('<=phone') {
         display: none;
      }
   }
   &__desktop {
      @include media('>phone') {
         display: none;
      }
   }
}

// _________________Класс для скрытия блоков, но сохранения для скрин ридеров____________
.clipped {
   position: absolute !important;
   clip: rect(1px 1px 1px 1px);
   clip: rect(1px, 1px, 1px, 1px);
   padding: 0 !important;
   border: 0 !important;
   height: 1px !important;
   width: 1px !important;
   overflow: hidden;
}

// _________________Класс для кнопки "Пропустить навигацию____________
.skip-nav-link {
   position: absolute;
   left: rem(5);
   transform: translateY(-120%);
   transition: transform 300ms ease-in;

   background-color: #fff;
   padding: rem(5) rem(10);

   &:focus {
      transform: translateY(0);
   }
}

// ________Класс для полифила focus_____________________
.js-focus-visible :focus:not(.focus-visible) {
   outline: none;
}
.focus-visible {
   @include focus;
}

// __________Класс для работы с grid___________________
[class|="grid"] {
   display: grid;
   gap: rem(10);
}

.grid- {
   &even-columns {
      grid-template-columns: repeat(auto-fit, minmax(min(rem(150), 100%), 1fr));
   }

   &auto-columns {
      grid-auto-flow: column;
      grid-auto-columns: 1fr;
   }
}

// __________Класс для работы с переменными___________________

