@use "__config" as *;
@use "sass:map";

// --------------------------------------ОБНУЛЕНИE И ОБЩИЕ ПАРАМЕТРЫ--------------------------------------

// необходимо Модофицировать этот элемент только для тех, на кого может попасть фокус
* {
   outline-offset: 0;
   transition: outline-offset 0.2s linear;
}

html {
   // Для отключения эффекта "скачка" при появлении dialog
   scrollbar-gutter: stable;
}

html,
body {
   width: 100%;
   min-width: var(--minWidth);
   accent-color: var(--clr-accent);
}

*::selection { // Цвет выделения текста
   background-color: var(--clr-accent);
   color: var(--clr-bg-main);
}

h1, h2, h3, h4 {
   text-wrap: balance;
}

input {
   caret-color: var(--clr-accent);
   accent-color: var(--clr-accent);
}


img,
picture {
   display: block;
   font-style: italic;
   max-width: 100%;
   height: auto;
   object-fit: cover;
   background-repeat: no-repeat;
   background-size: cover;
   // aspect-ratio: attr(width) / attr(height);
   // background-image: url(data:image/gif;base64,R0lGODlhCgAIAIABAN3d3f///yH5BAEAAAEALAAAAAAKAAgAAAINjAOnyJv2oJOrVXrzKQA7);
}

// ----------------------------------------------СТАНДАРТНЫЕ КЛАССЫ---------------------------------------------

// _____________Футер к низу_______________
.body {
   display: flex;
   flex-direction: column;
   font-family: system-ui, system, sans-serif;
   font-size: var(--fs-m);
}

.fonts-loaded .body {
   font-family: var(--ff-main);
}

.main {
   flex-grow: 1;
}

.header,
.main,
.footer {
   flex-shrink: 0;
}

// ____________________Обычный контейнер для респонза_________
.container {
   --padding: 1rem;
   width: min(var(--maxWidth), 100% - (var(--padding) * 2));
   margin-inline: auto;
}

.container-grid {
   // justify-items: center - не дает содержимому расстягиваться на всю допустимую ширину
  --padding-inline: 1rem;
  
  display: grid;
  grid-template-columns:
   [full-start]
   0px
   
   [left-start]
   minmax(var(--padding-inline), 1fr)

   [right-start]
   0px
   
   [content-start] 
   min(100% - (var(--padding-inline) * 2), var(--maxWidth))
   [content-end]

   0px
   [left-end]
    
   minmax(var(--padding-inline), 1fr) 
   [right-end]

   0px
   [full-end] ;
   & > * {
      grid-column: content;
   }

   //Для container указать: 
   // mobile - grid-column: full;
   // pc - grid-column: right или left
   // Также необходимо создавать padding (--padding-inline) для элементов, которые не должны косаться границ экрана

   &__full-right {
      // Размер в процентах
      --columns-size: 50;
      display: grid;
      grid-template-columns: calc(min(100%, var(--maxWidth)) * calc(var(--columns-size)/100)) 1fr;
   }

   &__full-left {
      // Размер в процентах
      --columns-size: 50;
      display: grid;
      grid-template-columns: 1fr calc(min(100%, var(--maxWidth)) * calc(var(--columns-size)/100));
   }
}


// .container {
//    margin-inline: auto;
//    padding: 0 var(--space-container-padding);

//    // Ограничиваем стили для мобильных
//    @include media('<=phone') {
//       // padding: 0 var(--space-md);
//       min-width: var(--minWidth);
//    }

//    @include media('>phone') {
//       // padding: 0 var(--space-lg);
//       max-width: calc(var(--space-container-padding) * 2 + map.get($breakpoints, 'phone'));
//    }

//    @include media('>=tablet') {
//       max-width: calc(var(--space-container-padding) * 2 + map.get($breakpoints, 'tablet'));
//    }

//    @include media('>=laptop') {
//       max-width: calc(var(--space-container-padding) * 2 + map.get($breakpoints, 'laptop'));
//    }

//    @include media('>=desktop') {
//       max-width: calc(var(--space-container-padding) * 2 + map.get($breakpoints, 'desktop'));
//    }
// }

// __________________Класс для скрытия от всех__________________________________
.hide {
   display: none;
   &__mobile {
      @include media('<=phone') {
         display: none;
      }
   }
   &__desktop {
      @include media('>phone') {
         display: none;
      }
   }
}

// _________________Класс для скрытия блоков, но сохранения для скрин ридеров____________
.clipped {
   position: absolute !important;
   clip: rect(1px 1px 1px 1px);
   clip: rect(1px, 1px, 1px, 1px);
   padding: 0 !important;
   border: 0 !important;
   height: 1px !important;
   width: 1px !important;
   overflow: hidden;
}

// _________________Класс для кнопки "Пропустить навигацию____________
.skip-nav-link {
   position: absolute;
   left: rem(5);
   
   background-color: var(--clr-white);
   padding: rem(5) rem(10);
   opacity: 0;
   transform: translateY(-120%);
   transition: transform 300ms ease-in;

   &:focus {
      opacity: 1;
      transform: translateY(0);
   }
}

// ________Класс для полифила focus_____________________
.js-focus-visible :focus:not(.focus-visible) {
   outline: none;
}
.focus-visible {
   @include focus;
}

// __________Класс для работы с grid___________________
[class*="grid-"] {
   display: grid;
   gap: rem(10);
}

.grid- {
   &auto-columns {
      grid-template-columns: repeat(auto-fit, minmax(min(var(--grid-column, rem(150)), 100%), 1fr));
   }

   &even-columns {
      grid-auto-flow: column;
      grid-auto-columns: 1fr;
   }
}

// where делает специфичность калсса = 0, а сам селектор можно использовать для организации отстов
:where(.flow:not(:first-of-type)) {
   margin-top: 1rem;
}

// __________Класс для работы с переменными___________________
// .fw-regular {
//    font-weight: var(--fw-regular);
// }

// .fs-400 {
//    font-size: var(--fs-16);
// }

// .padding-block-400 {
//    padding-block: var(--space-sm);
// }

.overlay {
   --overlay-from: hsl(240 100% 20% / 0.6);
   --overlay-to: hsl(0 100% 20% / 0.6);
   border-image: linear-gradient(var(--overlay-from), var(--overlay-to)) fill 1;
}


:where(h1) {
   font-family: var(--ff-heading);
   font-size: var(--fs-l);

   @media (min-width: (50rem)) { 
      font-size: var(--fs-xl);
      font-weight: var(--fw-bold);
      line-height: 1.1;
   }
}

:where(h2) {
   font-family: var(--ff-heading);
   font-size: var(--fs-48);
   font-weight: var(--fw-semi-bold);
}

:where(h3) {
   font-family: var(--ff-heading);
   font-size: var(--fs-36);
   font-weight: var(--fw-semi-bold);
}

:where(h4) {
   font-family: var(--ff-heading);
   font-size: var(--fs-24);
   font-weight: var(--fw-semi-bold);
}

:where(h5) {
   font-family: var(--ff-heading);
   font-size: var(--fs-20);
   font-weight: var(--fw-semi-bold);
}