
// Здесь определяются все системные шрифты, если не используем загрузку шрифтов
// @font-face {
//    font-family: system;
//    font-style: normal;
//    font-weight: 300;
//    src: local(".SFNSText-Light"), local(".HelveticaNeueDeskInterface-Light"), local(".LucidaGrandeUI"),
//       local("Ubuntu Light"), local("Segoe UI Light"), local("Roboto-Light"), local("DroidSans"), local("Tahoma");
// }

// RFS (simply the abbreviation for Responsive Font Size)  Это модуль, который дает возможность работы с адаптивным шрифтом (пример использования - @include rfs(64); где 64 это размер шрифта.
// @import "../../node_modules/rfs/scss";
// @import "../../../node_modules/rfs/scss";
// $rfs-two-dimensional: "true"; //Включение двухмерных медиа-запросов определит размер шрифта на основе самой маленькой стороны экрана с vmin. Это предотвращает изменение размера шрифта, если устройство переключается между портретным и альбомным режимами.

// @import "../../node_modules/system-font-css/system-font.scss"; //Не забудь посмотреть обновления к этому модулю. npm install --save system-font-css, и отключи если не нужны эти системные шрифты ---system-ui----
// @import "../../node_modules/system-font-css/system-font";

// &display=swap&subset=cyrillic-ext Для подкючения шрифтов Кирилицы в Google Fonts в самом конце ссылки к размерам шрифта
// Не забудь поставить ковычки в Google Fonts при применении плагина и отключить лишние шрифты
// swap - браузер сразу отображает текст доступным шрифтом, а требуемый для установки шрифт будет дожидаться сколь угодно долго. Но как только шрифт будет загружен, произойдет замена. Благодаря этому пользователь не будет видеть пустого дисплея;

// //Для подклюения файлов шрифтов с использованием Gulp
// @mixin font($font_name, $file_name, $weight, $style) {
//    @font-face {
//       font-family: $font_name;
//       font-display: swap;
//       src: url("../fonts/#{$file_name}.woff") format("woff"), url("../fonts/#{$file_name}.woff2") format("woff2");
//       font-weight: #{$weight};
//       font-style: #{$style};
//    }
// }
