@use "config" as *;

[class|="btn"] {
   background-color: transparent;
   border: none;
   padding: 0;
   margin: 0;
   cursor: pointer;
}



.btn-main {
   border: rem(1) solid var(--color-black);
   color: var(--color-white);
   background-color: var(--color-primary);
   border-radius: var(--border-radius);
   padding: rem(20) rem(30);
}