@use "__config" as *;

// <label class="switch">
//          <input class="switch__checkbox" type="checkbox" />
//          <span class="switch__slider switch__slider--round"></span>
//       </label>

.switch {
   --height: #{rem(34)};
   display: inline-block;
   position: relative;
   width: calc(var(--height) * 1.764);
   height: var(--height);

   &__checkbox {
      opacity: 0;
      width: 0;
      height: 0;
   }

   &__checkbox:focus-visible + &__slider {
      @include focus;
   }

   &__slider {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      cursor: pointer;
      background-color: #ccc;
      -webkit-transition: .4s;
      transition: .4s;
   }

   &__slider:before {
      position: absolute;
      bottom: calc(var(--height) * 0.117);
      left: calc(var(--height) * 0.117);
      content: "";
      height: calc(var(--height) * 0.765);
      width: calc(var(--height) * 0.765);
      background-color: var(--clr-white);
      -webkit-transition: .4s;
      transition: .4s;
   }

   &__checkbox:checked + &__slider {
      background-color: var(--clr-accent);
   }

   
   &__checkbox:checked + &__slider:before {
      -webkit-transform: translateX(calc(var(--height) * 0.765));
      -ms-transform: translateX(calc(var(--height) * 0.765));
      transform: translateX(calc(var(--height) * 0.765));
   }

   &__slider--round {
      border-radius: var(--height);
   }

   &__slider--round:before {
      box-shadow: 0 0 rem(1) var(--clr-accent);
      border-radius: 50%;
   }
}
