@use "__config" as *;

.section {
   padding-top: rem(30);
}

.section:last-of-type {
   padding-bottom: rem(30);
}

.gallery {
   display: flex;
   
   overflow-x: auto;
   overflow-y: hidden;
   gap: rem(20);
   & > * {
      // min-width: 50%;
      // flex-basis: 50%;
      
      
   }

   &__img {
      // width: 100%;
      // height: auto;
      max-height: rem(320);
      width: auto;
   }
}

.tablist {
   display: flex;
   padding: 20px;
   background-color: #ccc;
   justify-content: space-around;
}

.tabitem[aria-selected="true"] {
   border: 1px solid #000;
}