// @use "../settings/variables" as *; // Импорт функций


.page {
   // @media (min-width: $md1+px) {
      display: flex;
      flex-wrap: wrap;
      gap: 20px;
   // }
}

.simple__section {
   border: 1px dotted #ccc;
   padding-top: rem(10);
   padding-bottom: rem(10);
   // @media (max-width: $md0+px) {
      margin: rem(20) auto;
   // }
}

.sblock {
   max-width: rem(400);
   margin-top: 30px;
   margin-bottom: 30px;
   
   &__title {
      margin: 10px 0;
   }
}

.color {
   border: 1px dotted #5b5858;
   margin-bottom: 5px;
   &__title {
      color: white;
      mix-blend-mode: difference;
   }
   &--active {
      background-color: var(--color-active);
   }
   &--bg-main {
      background-color: var(--color-bg-main);
   }
   &--bg-gray {
      background-color: var(--color-bg-gray);
   }
   &--white {
      background-color: var(--color-white);
   }
   &--black {
      background-color: var(--color-black);
   }
   &--success {
      background-color: var(--color-success);
   }
   &--error {
      background-color: var(--color-error);
   }
   &--warning {
      background-color: var(--color-warning);
   }
   &--information {
      background-color: var(--color-information);
   }
}


.error {
   font-weight: bold;
   color: tomato;
}