/*

   header.css

*/
// ---------------------Общие стили------------------------
@forward "base";
@forward "config";
@forward "globals";
// --------------------------------------------------------


@forward "pages/simple"; 