// @use "_include-media" as *;
@use "functions" as *;
// -----------------------------------------ПЕРЕМЕННЫЕ-----------------------------------------------

// Breakpoint	   Class infix	      Dimensions
// X-Small	      None	            <576px
// Small	         sm	               ≥576px
// Medium	      md	               ≥768px
// Large	         lg	               ≥992px
// Extra          large	xl	         ≥1200px
// Extra          extra large	xxl	≥1400px

// $minWidth: 320; // минимальным размер экрана
// $maxWidth: 1140; // максимальный размер экрана

:root {
   --minWidth: 320px;
   --maxWidth: 1140px;
}

// ____________________Брейкпоинты__________________________________
// $md0: 576;
// $md1: 576;
// $md2: 768;
// $md3: 992;
// $md4: 1200;
// $md5: 1400;

// :root {
//    --md0: 520px;
//    --md1: 521px;
//    --md2: 720px;
//    --md3: 960px;
//    --md4: 1140px;
// }


// _____________________Размеры отступов_________________________________
:root {
      --space-unit: 1em;
   
      --space-xxxxs: calc(0.125 * var(--space-unit));
      --space-xxxs: calc(0.25 * var(--space-unit));
      --space-xxs: calc(0.375 * var(--space-unit));
      --space-xs: calc(0.5 * var(--space-unit));
      --space-sm: calc(0.75 * var(--space-unit));
      --space-md: calc(1.25 * var(--space-unit));
      --space-lg: calc(2 * var(--space-unit));
      --space-xl: calc(3.25 * var(--space-unit));
      --space-xxl: calc(5.25 * var(--space-unit));
      --space-xxxl: calc(8.5 * var(--space-unit));
      --space-xxxxl: calc(13.75 * var(--space-unit));
}   
// ____________________Цвета_________________________________________
:root {


   --clr-bg-main: #fff;
   --clr-bg-gray: #f0f0f0;

   --clr-white: #fff;
   --clr-black: #000;

   --clr-success: rgb(38, 203, 124);
   --clr-error: rgb(255, 70, 66);
   --clr-warning: rgb(247, 125, 5);
   --clr-information: rgb(56, 132, 255);
   // Оттенки цвета
   $color-shades: (
      100: 20%,
      200: 15%,
      300: 10%,
      400: 0,
      500: 10%,
      600: 20%,
      700: 30%,
   );
   // Набор цвета который необходимо изменить
   $colors: (
      "accent": #FFB577,
   );
// Создаем наборы с оттенками
   @each $keyColor, $valueColor in $colors {
      @each $keyShades, $valueShades in $color-shades {
         @if $keyShades < 400 {
            --clr-#{$keyColor}-#{$keyShades} : #{lighten($valueColor, $valueShades)};
         }
         @else if $keyShades == 400 {
            --clr-#{$keyColor}-#{$keyShades} : #{$valueColor};
         }
         @else {
            --clr-#{$keyColor}-#{$keyShades} : #{darken($valueColor, $valueShades)};
         }
      }   
   }
   // Создаем оригинальный цвет из набора
   @each $keyColor, $valueColor in $colors {
      --clr-#{$keyColor} : #{$valueColor};
   }
}
// _____________________Шрифт_________________________________
:root {
   
   --ff-main: serif;
   --ff-secondary: serif;

   // --fw-thin: 100;
   // --fw-ultra-light: 200;
   // --fw-light: 300;
   // --fw-regular: 400;
   // --fw-medium: 500;
   // --fw-semi-bold: 600;
   // --fw-bold: 700;
   // --fw-extra-bold: 800;
   // --fw-heavy: 900;
   
   // --fs-12: 0.75rem;
   // --fs-14: 0.875rem;
   // --fs-16: 1rem;
   // --fs-18: 1.125rem;
   // --fs-19: 1.1875rem;
   // --fs-20: 1.25rem;
   // --fs-22: 1.375rem;
   // --fs-24: 1.5rem;
   // --fs-32: 2rem;
   // --fs-35: 2.1875rem;
   // --fs-36: 2.25rem;
   // --fs-40: 2.5rem;
   // --fs-48: 3rem;
   // --fs-50: 3.125rem;
   // --fs-55: 3.4375rem;
   // --fs-58: 3.625rem;
   // --fs-65: 4.0625rem;
   // --fs-72: 4.5rem;

   // Золотое сечение https://grtcalculator.com/
   --fs-s: #{rem(13)};
   --fs-m: #{rem(16)};
   --fs-l: #{rem(20)};
   --fs-xl: #{rem(26)};
   --fs-xxl: #{rem(33)};
   --fs-xxxl: #{rem(42)};

   --lh-s: #{rem(23)};
   --lh-m: #{rem(27)};
   --lh-l: #{rem(33)};
   --lh-xl: #{rem(42)};
   --lh-xxl: #{rem(52)};
   --lh-xxxl: #{rem(65)};

}
// _____________________Общие настройки_________________________________
:root {
   
   // --ff-heading: var(--ff-secondary);
   
   // --fs-body: var(--fs-16);
   // --fs-primary-heading: var(--fs-16);
   // --fs-primary-btn: var(--fs-16);
   // --fs-nav: var(--fs-16);
   
   
   --sz-navigation-small: 3.75rem;
   --sz-navigation-large: 4.5rem;

   --space-container-padding: var(--space-md);
   
   --bd-radius: .375rem;
}

