.header-main {
   &__container {
      @media (max-width: $md0+px) {
         padding-top: 0;
         padding-bottom: 0;

         height: var(--size-navigation-small);
         display: flex;
         align-items: center;
      }
      @media (min-width: $md1+px) {
         display: none;
      }
   }
}
