//****************************************
/*

   Блок стилизации основной навигации на сайте

*/

.nav {
   @media (max-width: $md0+px) {
      display: none;

      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      margin-top: var(--size-navigation-small);
   }
   @media (min-width: $md1+px) {
      display: block;
   }

   &--active {
      @media (max-width: $md0+px) {
         display: block;
      }
   }

   &__item {
      @media (max-width: $md0+px) {
         display: inline-block;
         width: 100%;
      }
      @include rfs(20px);
   }
   &__item:hover {
      text-decoration: underline;
   }

   &__box {
      @media (min-width: $md1+px) {
         display: flex;
         gap: rem(20);
      }
   }
}

//---------------------СТИЛИЗАЦИЯ-----------Требует удаления в проекте!-------------------------------
.nav {
   @media (max-width: $md0+px) {
      border: 1px dotted #ccc;
      background-color: #ebebebde;
   }
}
// ---------------------------------------------------------------------------------------------------
